# ======= Files
*.iml
*.class
.classpath
gradlew
gradlew.bat
.project
*.txt
*.war
My_DB_Project_Description.txt
*.sublime-project
*.sublime-workspace

# ====== Folders
classes/
.idea/
.git/
.gradle/
.settings/
out/
target/
build/
gradle/
!/Part_2_OOP/TrakerToIDEA/OtherFiles
