*.iml
classes/
*.class
.classpath
gradlew
gradlew.bat
.project
*.txt
*.war
.idea
**/.gradle/*
.git
.settings/
out/
**/target/*
**/build/*
**/gradle/*
My_DB_Project_Description.txt
!/Part_2_OOP/TrakerToIDEA/OtherFiles
*.sublime-project
*.sublime-workspace
